<div class="container">
  <div class="col-md-12">
  <div class="jumbotron" style="background: rgb(0, 153, 204); /* This is for ie8 and below */
   background: rgba(0, 153, 204, 1.0); color: #FFFFFF;">

   <style>
 .jumbotron {

   color: #FFFFFF;
 background-color: #F0F8FF;
border-radius: 10px;

border: 2px ;
padding: 10px;

} </style>
   <div class="row">

<div class="quick-seaaaaarch">
              <div class="row">
                <form role="form" action="/users/agent/search" method="GET">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                  <label for="searchArea">Find agents Near</label>
                  <input type="text" name="searcharea" class="form-control" id="txtautocomplete" placeholder="Enter Search location" autocomplete="off" value="Toronto,Ontario, Canada">
                </div>
                  <!-- break -->

                  <div class="col-md-12 col-sm-12"><input type="submit" name="submit" class="btn btn-primary btn-lg btn-block"></div>

                </form>
              </div>
            </div>
          </div>
   </div>
</div>
</div>

</body>
</html>
