<style>
#footer {
  background-color: #222;
  border-color: #080808;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: auto;
  left: 0;
  padding: 1rem;
  
}
#footer p {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 0px 0px 0px 0px;
}
</style>


</style>
<div id="footer">

  <p>Created by: Arjun Mahendran, Emmanuel Oppong, Gurpreet Jhandi</p>
  <p>Contact Information: <a href="mailto:admin@jannat.com">admin@jannat.com</a>.</p>


</div>