<! DOCTYPE html>

<head>

<link href="assets/css/bootstrap.css" rel="stylesheet">
<link type="text/css" href="assets/css/yoyo.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>


<body background="http://cdn.freshome.com/wp-content/uploads/2013/05/Lovely-Armandale-House.jpg">



<div class="container">

<div class="page-header">
	<h1 id ="title">JANNAT</h1>
<p>
 
<a href="#" class="btn btn-primary btn-s"><span class="glyphicon glyphicon-list"></span></a>
  <!-- NAVIGATION ELEMENTS -->
<div class="container">
 
<!-- Basic horizontal menu -->
<ul class="list-inline">
  <li><a href="#">Home</a></li>
  <li><a href="#">About</a></li>
 
  <!-- Add a dropdown menu -->
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Phone</a></li>
      <li><a href="#">Email</a></li>
      <li><a href="#">Schedule Appointment</a></li>
    </ul>
  </li>
  <li><a href="#">Shop</a></li>
</ul>
</p>
</div>




<div class="container-fluid">
  
    
  </ul>
  <div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-primary btn-lg center-block">Buy</button>
  <button type="button" class="btn btn-primary btn-lg center-block">Sell</button>
    <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      More
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Dropdown link</a></li>
      <li><a href="#">Dropdown link</a></li>
    </ul>
  <form class="navbar-form navbar-left" role="search">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for houses">
		</div> 
		<button type="submit" class="btn btn-success btn">
			SEARCH 
		</button>
	</form></div>
</div> 
</div>
</div><br>

	


<div id="theCarousel" class="carousel slide" data-ride="carousel">
 
  <!-- Define how many slides to put in the carousel -->
  <ol class="carousel-indicators">
    <li data-target="#theCarousel" data-slide-to="0" class="active"> </li >
    <li data-target="#theCarousel" data-slide-to="1"> </li>
    <li data-target ="#theCarousel" data-slide-to="2"> </li>
  </ol >
 
  <!-- Define the text to place over the image -->
  <div class="carousel-inner">
    <div class="item active" >
    <div class ="slide1"></div>
    <div class="carousel-caption">
      <h1>Amazing Backgrounds</h1>
      <p>Thousands of Backgrounds for Free</p>
      <p><a href="#" class="btn btn-primary btn-sm">Get them Now</a></p>
    </div>
  </div>
  <div class="item">
  <div class="slide2"></div>
  <div class="carousel-caption">
    <h1>Thousands of Colors</h1>
    <p>Every Color you can Imagine</p>
  </div>
  </div>
  <div class="item">
  <div class="slide3"></div>
  <div class="carousel-caption">
  <h1>Amazing Illustrations</h1>
  <p>And they are All Free</p>
  </div>
  </div>
  </div>
<a class="left carousel-control" href="#theCarousel" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"> </span>
  </a>
  <a class="right carousel-control" href="#theCarousel" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  </div>
- See more at: http://www.newthinktank.com/2015/11/learn-bootstrap-one-video/#sthash.gYYI6tHY.dpuf
</div>

</div>
</body>

</html>