<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>JANNAT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <style>
  body {
  background-image: url(/img/Lovely-Armandale-House.jpg);
  background-position:none;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  }
</style>
</head>
<body>

<nav class="navbar navbar-default" >
    <div class ="container-fluid">
    <div class="collapse navbar-collapse" id="mynav">
      <ul class="nav navbar-nav">
        <li class="button">
          <a href="/" class="button"  role="button" aria-haspopup="true" aria-expanded="false">Main  
        </a>
          <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Seller 
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="/homes/new">Create Home</a></li>
          <li><a href="#myUploads" data-toggle="modal" data-target="#myUploads">Upload</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="register.html">Register</a></li>
          </ul>
          <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Buyer 
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="/homes/homelist">show Homes</a></li>

          </ul>
          <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="lawyers.html">Lawyers</a></li>
          <li><a href="agents.html">Agents or Broker</a></li>
          <li><a href="bank.html">Loanee</a></li>
          </ul>

      </ul>

        <form action="/homes/search" method="get" class="navbar-form navbar-left" role="search">
    <div class="input-group">
    
      <input type="text" name="searcharea" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
       
    </div><!-- /input-group -->
</form>


      <ul class="nav navbar-nav navbar-right">
      <li><a href="#myModal" data-toggle="modal" data-target="#myModal">Log-in</a></li>
    </ul>
    </div>
  
  
  </div>  <!--container-fluid ends-->
</nav> <!--navbar ends-->
<div class="modal fade" id="myUploads">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Upload</h4>
    </div>
    <div class="modal-body">
    <form role="form">
    <div class="form-group">
    <label for="propertytype">Property Type:</label>
    <input type="propertytype" class="form-control" id="propertytype" placeholder="Property Type">
    </div>
    <div class="form-group">
    <label for="buildingtype">Building Type:</label>
    <input type="buildingtype" class="form-control" id="buildingtype" placeholder="Building Type">
    </div>
    <div class="form-group">
    <label for="rooms">Rooms:</label>
    <input type="text" class="form-control" id="buildingtype" placeholder="Number of Rooms">
    </div>
    <div class="form-group">
    <label for="location">City:</label>
    <input type="text" class="form-control" id="buildingtype" placeholder="Please Enter City">
    </div>
    <div class="form-group">
    <label for="cooling">Cooling:</label>
    <input type="text" class="form-control" id="buildingtype" placeholder="Enter Cooling Type">
    </div>
    <span class="btn btn-default btn-file">
    Upload  <input type="file">
    </span>

    <button type="submit" class="btn btn-danger">Submit</button>
    </form>
        </div>
        
      </div>
    </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Log-in</h4>
        </div>
        <div class="modal-body">

                 <div class="account-wall"><img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" class="profile-img"/>
          <form action="/users/login" method="POST" class="form-signin">
            <input type="text" name="username" placeholder="Email" required="required" autofocus="autofocus" class="form-control"/>
            <input type="password" name="password" placeholder="Password" required="required" class="form-control"/>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button><span class="clearfix"></span>
          </form>
        </div><a href="/users/signup" class="text-center new-account">Create an account</a>
        <div id="message"></div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <a href="#" class="btn btn-primary">Log-in</a>
        </div>
      </div>
    </div>
</div>


</body>
</html>