<! DOCTYPE html>

<head>

<link href="assets/css/bootstrap.css" rel="stylesheet">
<link type="text/css" href="assets/css/yoyo.css" rel="stylesheet">

</head>


<body 
background="http://www.zillowstatic.com/static-homepage/a3d6eae/static-homepage/images/backgrounds/Buy_Hero_117895303_1024x500_2x.jpg"/>




<div class="container">
	
<div class="page-header">
	<h1 id ="title">JANNAT</h1>
</div>


<div  class="jumbotron">
	<p> Welcome to Jannat </p>

</p>

</div>

<div class="container-fluid">

	<form class="navbar-form navbar-left" role="search">
		<div class="form-group">
			<input type="text" class="form-control" />
		</div> 
		<button type="submit" class="btn btn-default">
			SEARCH 
		</button>
	</form>
	
</div>
</body>

</html>