<!DOCTYPE html>
<html lang="en">
<head>
  <title>JANNAT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed in=true&libraries=places"></script>
<script type="text/javascript">
function initialize() {
  var autocomplete = new google.maps.places.Autocomplete(document.getElementById('txtautocomplete'));
  google.maps.event.addListener(autocomplete, 'place_changed', function () {
  var places = autocomplete.getplace();
  var location = "<Location>:</b>" + places.formatted_address + "<br/>";
  location += "<b>Latitude:</b>" + places.geometry.location.A + "br/";
  location += "<b>Longitude:</b>" + places.geometry.location.F + "br/";
  document.getElementById('lblresult').inner.HTML = location
  });
};
google.maps.event.addDomListener(window, 'load', initialize);
</script>

  <style>
  body {
  background-image: url(/img/Lovely-Armandale-House.jpg);
  background-color: #000000;
  background-position:none;
  background-attachment: fixed;
  background-size:cover;
  }

#footer {
  width:100%;
  height:100px;
  position:absolute;
  bottom:0;
  left:0;
}
.box {
  width:800px;
  margin:0 auto;
}

</style>

</head>



<body>
<!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="/" class="navbar-brand">Jannat</a>
        </div><!-- Navbar Header-->
        <div class="collapse navbar-collapse" id="navbar-collapse">

          <!--    -->

              
              <% if (locals.login) { %>
      <a href="/users/show" class="btn btn-primary navbar-btn navbar-right glyphicon glyphicon-user"></a>
 <% } else { %>
<a href="#myModal" data-toggle="modal" data-target="#myModal" class="btn btn-primary navbar-btn navbar-right glyphicon glyphicon-user"></a>
 <% } %>



          <ul class="nav navbar-nav">
            <li><a href="/homes/homelist">Buy</a>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sell
        <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="/homes/new">Create Home</a></li>
          </ul>

            <li><a href="/users/agentlist">Agent Finder</a></li>

            
          </ul>
        </div>
      </div><!-- End Container-->
    </nav><!-- End navbar -->





<div class="modal fade" id="myUploads">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Upload</h4>
    </div>
    <div class="modal-body">
    <form role="form">
    <div class="form-group">
    <label for="propertytype">Property Type:</label>
    <input type="propertytype" class="form-control" id="propertytype" placeholder="Property Type">
    </div>
    <div class="form-group">
    <label for="buildingtype">Building Type:</label>
    <input type="buildingtype" class="form-control" id="buildingtype" placeholder="Building Type">
    </div>
    <div class="form-group">
    <label for="rooms">Rooms:</label>
    <input type="text" class="form-control" id="buildingtype" placeholder="Number of Rooms">
    </div>
    <div class="form-group">
    <label for="location">City:</label>
    <input type="text" class="form-control" id="buildingtype" placeholder="Please Enter City">
    </div>
    <div class="form-group">
    <label for="cooling">Cooling:</label>
    <input type="text" class="form-control" id="buildingtype" placeholder="Enter Cooling Type">
    </div>
    <span class="btn btn-default btn-file">
    Upload  <input type="file">
    </span>

    <button type="submit" class="btn btn-danger">Submit</button>
    </form>
        </div>

      </div>
    </div>
</div>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <br>
        </div>
        <div class="modal-body">

                 <div class="account-wall"><img src="/img/home-logo-md.png" class="profile-img"/>
          <form action="/users/login" method="POST" class="form-signin">
            <input type="text" name="username" placeholder="Email" required="required" autofocus="autofocus" class="form-control"/>
            <input type="password" name="password" placeholder="Password" required="required" class="form-control"/>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button><span class="clearfix"></span>
          </form>
        </div> <a href="/users/signup" class="text-center new-account">Create an account</a>
          <a href="/users/newagent" class="text-center new-account">Are you a Professional?</a>
        <div id="message"></div>
        </div>
      </div>
    </div>
</div>

<!-- <nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Home</a>
  </div>
  <ul class="nav navbar-nav">
    <li ng-app="myApp" ng-hide="loggedIn" ng-controller="GreetingController">
      <a href="/login">Login</a>
    </li>
    <li  ng-app="myApp" ng-hide="loggedIn" ng-controller="GreetingController" >
      <a href="/signup">Sign up</a>
    </li>
    <li  ng-app="myApp" ng-show="loggedIn" ng-controller="GreetingController" >
      <a href="#">Log out</a>
    </li>
  </ul>
  <div ng-app="myApp" ng-hide="loggedIn" ng-controller="GreetingController">
  {{ loggedIn }}
</div> -->
</nav> 


</body>

