<% include navbar.ejs %>




<body>
<header>
<!-- <div class = "container">
<h1 align="center" >Sell Or Rent Your Home Now</h1>
</div> -->
</header>
<br>



<br>
<br>


<div class = "container">
   <div class="jumbotron" style="background: rgb(54, 0, 200); /* This is for ie8 and below */
   background: rgba(128, 223, 255, 1.0); ">

<h2 align ="center" style="font-family:sans-serif;"> PLEASE ENTER HOUSE DETAILS BELOW</h2>
<div class="row">

        <form id="uploadForm" enctype="multipart/form-data" action="/homes/new" method="post">

<!--   <form role="form" action="/homes/new" method="POST" > -->
    <div class="container">

  <div class="form-group">
    <label for="address">Address Line 1:</label>
    <input type="text" name="address" class="form-control" placeholder="address line 1">
  <p class="help-block">Street address, P.O. box, company name, c/o</p>
  </div>
  <div class="form-group">
    <label for="city">City:</label>
    <input type="text" class="form-control" name="city" id="city" placeholder="City">
  <p class="help-block">eg. Toronto Brampton North York</p>
  </div>

 </div>
<div class="col-sm-3 ">

 <div class="form-group">
                      <label for="homeType">Home Type</label>
                      <select name="homeType" class="form-control" value="condo">
                        <option selected="selected" value="condo">Condo</option>
                        <option  value="Detached House">Detached-House</option>
                        <option value="Town House">Town House</option>
                        <option value="Semi Detached">semi-detached-house</option>
                        <option value="Mansion">mansion</option>
                      </select>
                    </div>
  <div class="form-group">
  <label for="bathrooms">Bathrooms:</label>
  <select class="form-control" name="bathrooms" value="1">
    <option>1</option>
    <option>2</option>
  <option>3</option>
    <option>4</option>
  <option>5</option>
    <option>6</option>
  </select>

</div>

</div>



<div class="col-sm-3">
<div class="form-group">
  <label for="bedrooms">Rooms:</label>
  <select class="form-control" name="bedrooms">
    <option>1</option>
    <option>2</option>
  <option>3</option>
    <option>4</option>
  <option>5</option>
    <option>6</option>
  <option>7</option>
    <option>8</option>
  <option>9</option>
    <option>10+</option>
  </select>
  </div>
  <div class="form-group">
  <label for="price">Price:</label>
  <input type="text" class="form-control" name="price">
  </div>

</div>




<div class="col-sm-3">
<div class="form-group">
  <label for="saleRent">Options:</label>
  <select class="form-control" name="saleRent" value="forSale">
    <option value="forSale">For Sale</option>
    <option value="forRent">For Rent</option>

  </select>

</div>
<div class="form-group">
  <label for="province">Province:</label>
  <select class="form-control" name="province">
    <option>ON</option>
    <option>QC</option>
  <option>BC</option>
    <option>AB</option>
  <option>NWT</option>
    <option>SK</option>
  <option>MB</option>
    <option>YK</option>
  <option>NU</option>
    <option>NL + LD</option>
  </select>
  </div>


</div>

<div class="col-sm-3 ">
<div class="form-group">
                      <label for="BiddingActive">Bidding?</label>
                      <select name="BiddingActive" class="form-control"/>
                      <option value="true">Bidding</option>
                      <option value="false">Non-Bidding</option>
                    </select>
                    </div>

</div>



<div class="col-sm-3">
 <div class="form-group">
                      <label for="squareFoot">squareFoot</label>
                      <input name="squareFoot" class="form-control" value="0"/>
                   
                    </div>

</div>

<div class="col-sm-12">
 <div class="form-group">
                      <label for="files">Select up to 4 Images</label>
                      <input type="file" name="userPhoto" multiple />
                   
                    </div>

</div>




</div>

 <button type="submit" class="btn btn-success">Submit</button>
</div> <!--end of row-->

</div><!--end of container-->

<!--beginning of inline form-->

  <br>
 <!-- <div class = "container">
  <label class="control-label">Select File</label>
  <input id="input-21" type="file" accept="image/*" class="file-loading">
  <script>
  $(document).on('ready', function() {
    $("#input-21").fileinput({
        previewFileType: "image",
        browseClass: "btn btn-success",
        browseLabel: "Pick Image",
        browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
        removeClass: "btn btn-danger",
        removeLabel: "Delete",
        removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
        uploadClass: "btn btn-info",
        uploadLabel: "Upload",
        uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> "
    });
  });
  </script>
  </div>-->


</form>


</div>
</div> <!--row-->
</div> <!--end of container-->
</div>





<br>

<!-- beginning of slideshow-->




</body>
</html>
























<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">CREATE A NEW HOUSE
        <div class="signup-wall">
          <form action="/homes/new" method="POST" class="form-signin">

            <input type="text" name="address" placeholder="address" required="required" class="form-control nomargin"/>
            <input type="text" name="price" placeholder="price" required="required" class="form-control"/>
            <input type="text" name="squareFoot" placeholder="squareFoot" required="required" class="form-control"/>
            <input type="text" name="rooms" placeholder="rooms" required="required" class="form-control"/>
             <input type="text" name="city" placeholder="city" required="required" class="form-control"/>
              <input type="text" name="province" placeholder="province" required="required" class="form-control"/>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Create</button><span class="clearfix"></span>
          </form>
        </div>
        <div id="message">
        </div>
      </h1>
    </div>
  </div>
</div> -->

