<% include layout.ejs %>
<!-- <link type="text/css" href="stylesheets/homelist.css" rel="stylesheet"> -->
<section>
        <div class="jumbotron" id="summary">
          <h2>Townhouse in Brampton,<small> <%= home.address %></small></h2>
        

        <div class="row">
          <div class="col-md-3">
            <blockquote>
              <p>Price</p>
              <footer>$200,000</footer>
            </blockquote>
          </div>
          <div class="col-md-3">
            <blockquote>
              <p>Area</p>
              <footer><%= home.bids %></footer>
            </blockquote>
          </div>
          <div class="col-md-3">
            <blockquote>
              <p>Closing Date</p>
              <footer>April 14th, 2016</footer>
            </blockquote>
          </div>
          <div class="col-md-3">
            <blockquote>
              <p>Location</p>
              <footer>Jane & Finch </footer>
            </blockquote>
          </div>
        </div><!-- End row -->
         </div><!--Enasasdasdadner--> 
<!-- Gallery -->
 <div class="jumbotron" id="gallery">
    <section>
      <div class="page-header" id="Sell">
          <h2>Gallery<small> Check out the Awesome Gallery</small></h2>
        </div>

        <div class="carousel slide" id="screenshot-carousel" data-ride="carousel"  >
          <ol class="carousel-indicators">
            <li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#screenshot-carousel" data-slide-to="1"></li>
            <li data-target="#screenshot-carousel" data-slide-to="2"></li>
            <li data-target="#screenshot-carousel" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Brock_House.JPG" alt="Text of the image" height="500px" width="500px">
              <div class="carousel-caption">
                <h3>Highway heading</h3>
                <p>This is the caption</p>
              </div>
            </div>
            <div class="item">
              <img src="https://upload.wikimedia.org/wikipedia/en/8/8f/Colorful_house_in_the_town_of_Appenzell.JPG" alt="Text of the image" height="500px" width="500px">
              <div class="carousel-caption">
                <h3>River heading</h3>
                <p>This is the caption</p>
              </div>
            </div>
            <div class="item">
              <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Edward_Gorey_House,_Yarmouth_Port_MA.jpg" alt="Text of the image" height="500px" width="500px" position="center" margin="auto">
              <div class="carousel-caption">
                <h3>Street heading</h3>
                <p>This is the caption</p>
              </div>
            </div>
            <div class="item">
              <img src="img/3011394376_8306820abc_o.jpg" alt="Text of the image">
              <div class="carousel-caption" height="500px" width="500px">
                <h3>Painting heading</h3>
                <p>This is the caption</p>
              </div>
            </div>

          </div><!-- End Carousel inner -->
          <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div><!-- End Carousel -->

    </section>
  </div>
      <div class="jumbotron" id="details">
  <div class="page-header" id="feedback">
          <h2>Details</h2>
        </div>
   <div class="row">
          <div class="col-md-4">
            <blockquote>
              <p>Amenities Nearby</p>
              <footer>Park, Public Transit, Schools</footer>
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote>
              <p>Total Parking Spaces</p>
              <footer>4</footer>
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote>
              <p>Bedrooms</p>
              <footer>3</footer>
            </blockquote>
          </div>
        </div><!-- End row -->
      </section>
  </div>

  <div class="jumbotron" id="buildings">
 <div class="page-header" id="feedback">
          <h2>Buildings</h2>
        </div>

   <div class="row">
          <div class="col-md-4">
            <blockquote>
              <p>Basement Type</p>
              <footer>Full (finished)</footer>
              <br><p>Cooling</p>
              <footer>Central Air Conditioning</footer>
              <br><p>Heating Type</p>
              <footer>Forced Air</footer>
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote>
              <br><p>Exterior Finish</p>
              <footer>Aluminium Siding, Brick</footer>
              <br><p>Style</p>
              <footer>Detached</footer>
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote>
              <p>Bedrooms</p>
              <footer>3</footer>
              <br><p>Heating Fuel</p>
              <footer>Natural Gas </footer>
            </blockquote>
          </div>
        </div><!-- End row -->
</div>
      <div class="jumbotron" id="rooms">
       <div class="page-header" id="feedback">
          <h2>Rooms</h2>
        </div>
   <div class="row">
          <div class="col-md-4">
            <blockquote>
              <p>Level</p>
              <footer>Second Level</footer>
              <br><br><br><br><footer>Lower Level</footer>
              <br><footer>Main Level</footer>
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote>
              <br><p>Type</p>
              <footer>Master Bedroom</footer>
              <footer>Bedroom 2</footer>
              <footer>Bedroom 3</footer>
              <br><footer>Recreational, Games room</footer>
              <br><br><footer>Living room</footer>
              <footer>Dining room</footer>
              <footer>Kitchen</footer>
              <footer>Family room</footer>
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote>
              <p>Dimensions</p>
              <br><footer>3.96 m x 3.5 m</footer>
              <footer>3.96 m x 3.5 m</footer>
              <footer>3.05 m x 2.9 m</footer>
              <br><footer>5.48 m x 2.89 m</footer>
              <br><br><footer>3.35 m x 2.89 m</footer>
              <footer>4.88 m x 4.27 m</footer>
              <footer>3.5 m x 3.38 m</footer>
              <footer>9.75 m x 5.18 m</footer>
            </blockquote>
          </div>
        </div><!-- End row -->
      </section>
    </div>
    </div><!--End Container-->
  
    </div><!--End Container-->
<div class="jumbotron" id="rooms">
             
              
            
  <form class="form-horizontal" role="form" method="post" action="<%= home._id %>/bid">
    <div class="form-group">
      
        <label for="Bid" class="col-sm-2 control-label">BID</label>
        <div class="col-sm-10">
             <p>Highest Bid is <%= home.highestbidvalue %></p>
        </div>
    </div>
    <div class="form-group">

        <label for="Bid" class="col-sm-2 control-label">BID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="bidvalue" name="bidvalue" placeholder="Enter Your Bid" value="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
        </div>
    </div>
</form>
</div>

</body>
</html>
