<% include navbar.ejs %>
<style>
.jumbotron {
margin-left: 250px;
	max-width: 60%;
padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 10px;
    padding-left: 40px;
    font-size: 43px;
color: black;
}

</style>


 <div class="text-center vd_info-parent"><br> <img src="http://www.pittmanproperties.com/thank-you-clothesline-752x483.jpg" name="aboutme" width="50%" height="50%" class="img-circle"><br> <br></div>
<div class="jumbotron">

<h3>Your Home will be reviewed and all the necessary changes should be reflected within the next 24 Hours.</h3></div>