<% include layout.ejs %>
<div class="row">
<div class="span4" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="header-sidebar-1">
<div id="text-7"> <div class="textwidget"><div class="banner-wrap extra"><figure class="featured-thumbnail"><a href="pellentesque-lacus-arcu/demire-fertasede" title="Apartments"><img src="http://livedemo00.template-help.com/wordpress_53763/wp-content/uploads/2015/03/banner_1.jpg" title="Apartments" alt=""></a></figure><h5><a href="pellentesque-lacus-arcu/demire-fertasede" target="_self">Apartments</a></h5><p>Vaetyasa Hytrtoiase Liugsas</p></div> </div>
</div> </div>
<div class="span4" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="header-sidebar-2">
<div id="text-8" class="visible-all-devices "> <div class="textwidget"><div class="banner-wrap extra"><figure class="featured-thumbnail"><a href="pellentesque-lacus-arcu/demire-fertasede" title="Apartments"><img src="http://livedemo00.template-help.com/wordpress_53763/wp-content/uploads/2015/03/banner_2.jpg" title="Apartments" alt=""></a></figure><h5><a href="pellentesque-lacus-arcu/demire-fertasede" target="_self">Apartments</a></h5><p>Vaetyasa Hytrtoiase Liugsas</p></div> </div>
</div> </div>
<div class="span4" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="header-sidebar-3">
<div id="text-9" class="visible-all-devices "> <div class="textwidget"><div class="banner-wrap extra"><figure class="featured-thumbnail"><a href="pellentesque-lacus-arcu/demire-fertasede" title="Apartments"><img src="http://livedemo00.template-help.com/wordpress_53763/wp-content/uploads/2015/03/banner_3.jpg" title="Apartments" alt=""></a></figure><h5><a href="pellentesque-lacus-arcu/demire-fertasede" target="_self">Apartments</a></h5><p>Vaetyasa Hytrtoiase Liugsas</p></div> </div>
</div> </div>
</div>