.tab-content > .tab-pane {
  background-color: #FFFFFF;
}
.pd-20 {
    padding: 20px !important
}
.tabs .nav-tabs {
    background-color: #F1F1F1;
    border-bottom: none
}
 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}